extends layout

block content
  h2 Password Reset Request
  p Hello #{name},
  p We received a request to reset your password. Click the button below to choose a new one.
  a.button(href=url) Reset Password
  p If you didn't request this, please ignore this email or contact support if you have concerns.
  p The link will expire in 15 minutes.
