extends layout

block content
  h2 Welcome to Coop-OS
  p Hello #{name},
  p Your registration with #{organisationName} has been received successfully.
  p.alert Your account is currently <strong>#{status}</strong> and is being reviewed by our administrators.
  p You will receive another notification once your account is fully verified.
  p Welcome to the community!
